<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/4f098b489c.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
  <title>WebPage</title>
</head>
<body>
  <!-- ヘッダー部分 -->
  <header>
    <div class="container">
      <a href="#mv">
       <img class="logo" src="img/logo.png" alt="ロゴ">
      </a>
      <!-- レスポンシブ対応 メニューBOX -->
      <div class="menu-box">
        <span class="list-bar"></span>
        <span class="list-bar"></span>
        <span class="list-bar"></span>
      </div>
      <!-- ここまで -->
      <nav>
        <ul>
          <li class="nav-list"><a href="#portfolio">Portfolio</a></li>
          <li class="nav-list"><a href="#feature">Feature</a></li>
          <li class="nav-list"><a href="#profile">Profile</a></li>
          <li class="nav-list"><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <!-- メインビジュアル部分 -->
  <section id="mv">
    <div class="container">
      <h1 class="mv-title"></h1>
      <p class="mv-text"></p>
    </div>
  </section>
  <!-- Section Portfolio -->
  <section id="portfolio">
    <div class="container">
      <h2 class="heading"></h2>
      <p class="heading-text">
        <br class="sp-none">
      </p>
      <div class="production-group">
        <div class="production bg-1 sp-none"></div> <!-- sp-noneはレスポンシブ対応時に消すため -->
        <div class="production bg-2"></div>
        <div class="production bg-3 sp-none"></div>
        <div class="production bg-4"></div>
        <div class="production bg-5 sp-none"></div>
        <div class="production bg-6"></div>
      </div>
    </div>
  </section>
  <!-- Section Feature -->
  <section id="feature">
    <div class="container">
      <h2 class="heading"></h2>
      <p class="heading-text">
       <br>
        <br class="sp-none">
      </p>
      <div class="strength-group clearfix" >
        <div class="strength">
          <i class="fas fa-code" aria-hidden="true"></i>
          <h3 class="strength-title"></h3>
          <p class="strength-text">
          </p>
        </div>
        <div class="strength">
          <i class="fas fa-desktop" aria-hidden="true"></i>
          <h3 class="strength-title"></h3>
          <p class="strength-text">
          </p>
        </div>
        <div class="strength">
          <i class="fas fa-cogs" aria-hidden="true"></i>
          <h3 class="strength-title"></h3>
          <p class="strength-text">
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Section Profile -->
  <section id="profile">
    <div class="container">
      <h2 class="heading"></h2>
      <p class="heading-text">
        <br>
        <br class="sp-none">
      </p>
      <div class="profile-group">
        <div class="left-content">
          <div class="my-face"></div>
        </div>
        <div class="right-content">
          <h3 class="discription-title"></h3>
          <p class="discription-text">
          </p>
          <h3 class="discription-title"></h3>
          <p class="discription-text"></p>
        </div>
      </div>
    </div>
  </section>
  <!-- Section Contact -->
  <section id="contact">
    <div class="container">
      <h2 class="heading"></h2>
      <p class="heading-text">
        <br>
        <br class="sp-none">
      </p>
      <div class="contact-group">
        <div class="left-content">
          <div class="left-contact-content">
            <h3 class="discription-title"></h3>
            <a class="discription-text link-text" href=""></a>
            <h3 class="discription-title"></h3>
            <a class="discription-text link-text" href=""></a>
          </div>
        </div>
        <div class="right-content">
          <div class="right-contact-content">
            <h3 class="discription-title"></h3>
            <i class="fab fa-facebook-f" aria-hidden="true"></i>
            <i class="fab fa-twitter" aria-hidden="true"></i>
            <i class="fab fa-instagram" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- フッター部分 -->
  <footer>
    <p class="copyright"></p>
  </footer>
  <!-- ここまで -->
</body>
</html>